<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Home Page</title>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<!-- Main Container Start -->
<div class="main-container  container py-5 px-4" style="margin-right: 500px">
    <div class="text-box">
        <h1 class="mb-5 text-center">Add Student</h1>
        <form class="card bg-dark py-5 px-4" th:action="@{/Student/save}" method="post" th:object="${student}">
            <p id="enterName">Enter Your Name</p>
            <input type="text" id="name" th:field="*{name}" />
            <p>Enter Your Email</p>
            <input type="text" th:field="*{email}" />
            <p>Select Your Department</p>
            <select id="department" name="department.id">
                <option th:each="dept : ${departmentList}" th:value="${dept.id}" th:text="${dept.name}">Department Name</option>
            </select>
            <button type="submit" class="btn btn-warning">Save</button>
        </form>
    </div>
</div>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>

<script th:inline="javascript">
</script>
</body>
</html>