<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/score.css}">
    <title>Score Board</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Function to fetch department name using AJAX
            function fetchDepartmentName(departmentId, tdElement) {
                $.ajax({
                    url: '/getDepartmentName', // URL to fetch department name, change it to your endpoint
                    type: 'GET',
                    data: { departmentId: departmentId },
                    success: function(response) {
                        tdElement.text(response.departmentName);
                    },
                    error: function(xhr, status, error) {
                        console.error('Error fetching department name:', error);
                    }
                });
            }

            // Iterate over each department ID cell and fetch department name
            $('table .departmentId').each(function() {
                var departmentId = $(this).text();
                var tdElement = $(this);
                fetchDepartmentName(departmentId, tdElement);
            });
        });
    </script>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<!-- Main Container Start -->
<div class="main-container container py-5 px-4">
    <h3 class="bg-danger text-center mb-5 p-2">Student List</h3>

    <table id="studentTable" class="bg-dark text-light">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
        </tr>
        <tr th:each="student : ${studentList}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text=""></td>
        </tr>
    </table>
</div>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>
<!--<script th:inline="javascript">-->
<!--    let deptId = document.getElementById("deptId").value;-->
<!--    console.log(deptId);-->
<!--</script>-->
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>