<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/score.css}">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Data Table -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css"/>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>


    <title>Score Board</title>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<table id="example" class="display" style="width:80%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Department Name</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>ID</th>
        <th>Department Name</th>
    </tr>
    </tfoot>
</table>
<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>


<script>
  const table =  $('#example').DataTable({
        "serverSide": true,
        "ajax": {
            "url": 'http://localhost:8001/Department/list/ajax',
            "dataType": "json"
        },
        "columns": [
            { "data": "id" },
            { "data": "name" }
        ]
    });


  console.log(table);
</script>
<!-- Bootstrap JS -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>